body {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #FFFFFF!important;
    font-size: x-large !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
}

.title {
    margin-top: 7em;
    margin-bottom: 8em !important;
}

#urlform {
    border:1px solid #2C87C5;
}

#urlbtn {
    background-color: #2C87C5;
    color: #FFFFFF;
    border:1px solid #2C87C5;
}

#urlbox {
    max-width: 800px;
    margin: auto;
}

.speech {
    max-width: 800px;
    margin: auto;
    margin-top: 8em;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
    text-align: center;
 }

 .footer-links {
     max-width: 1000px;
     margin: auto;
     margin-bottom: 3em;
 }

 .footer-links a {
    text-decoration: none;
    color: #1F73F8;
 }

 .footer p {
     margin-top: 4em !important;
     color: #d3d3d3 !important;
 }

 .footer-links a:hover {
    color: #0663fa;
 }

 .color-primary {
     color: #2C87C5 !important;
 }

 @media (max-width: 769px) {
    .footer{
        height: 200px;
    }
 }